# dependencies
node_modules/
.pnpm-store/

# build outputs
.next/
dist/
build/
out/
.turbo/

# env
.env
.env.local
.env.*.local
!.env.example

# test / coverage
coverage/
playwright-report/
test-results/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# generated
next-env.d.ts
*.tsbuildinfo
apps/api/openapi.json

# object storage / db local volumes
.minio/
.postgres-data/
